<title>Daicel Thailand | ติดต่อเรา</title>
<header class="has_header_fixed_right scroll_header_top_area  stick menu_bottom scrolled_not_transparent page_header">
    <div class="header_inner clearfix">
        <div class="header_top_bottom_holder">
            <div class="header_bottom clearfix" style=" background-color:rgba(255, 255, 255, 1);">
                <div class="container">
                    <div class="container_inner clearfix">
                        <div class="header_inner_left">
                            <div class="mobile_menu_button">
                                <span>
                                    <i class="fa fa-bars"></i> </span>
                            </div>
                            <div class="logo_wrapper">
                                <div class="q_logo">
                                    <a itemprop="url" (click)="home()" style="height: 70px; visibility: visible;">
                                        <img itemprop="image" class="normal"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="light"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="dark"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="sticky"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="mobile"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> </a>
                                </div>
                            </div>
                            <div class="header_fixed_right_area">
                                <div class="textwidget custom-html-widget">
                                    <div class="vc_empty_space" style="height: 23px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                        </span></div>



                                    <span style="display: inline-block;">
                                        <div class="q_icon_with_title medium custom_icon_image ">
                                            <div class="icon_holder " style=" "><img itemprop="image" style=""
                                                    src="../assets/templates/home/header-icon-1.png" alt=""></div>
                                            <div class="icon_text_holder" style="">
                                                <div class="icon_text_inner" style="">
                                                    <h6 class="icon_title" style="color: #424242;">+66
                                                        37270900</h6>
                                                    <p style="color: #949494">info@daicelsst-stt.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </span>

                                    <span style="display: inline-block; margin-right: 18px;">
                                        <div class="q_icon_with_title medium custom_icon_image ">
                                            <div class="icon_holder " style=" "><img itemprop="image" style=""
                                                    src="../assets/templates/home/header-icon-2.png" alt=""></div>
                                            <div class="icon_text_holder" style="">
                                                <div class="icon_text_inner" style="">
                                                    <h6 class="icon_title" style="color: #424242;">241 หมู่ 4,
                                                        เขตอุตสาหกรรม 304</h6>
                                                    <p style="color: #949494">ปราจีนบุรี 25140 ประเทศไทย</p>
                                                </div>
                                            </div>
                                        </div>
                                    </span>

                                    <span style="display: inline-block;">
                                        <div class="q_icon_with_title medium custom_icon_image ">
                                            <div class="icon_holder " style=" "><img itemprop="image" style=""
                                                    src="../assets/templates/home/header-icon-3.png" alt=""></div>
                                            <div class="icon_text_holder" style="">
                                                <div class="icon_text_inner" style="">
                                                    <h6 class="icon_title" style="color: #424242;">วันจันทร์ - วันศุกร์
                                                        08h - 17h</h6>
                                                    <p style="color: #949494">หยุดวันเสาร์ - อาทิตย์</p>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="header_menu_bottom">
							<div class="header_menu_bottom_inner">
								<div class="main_menu_header_inner_right_holder">
									<nav class="main_menu drop_down">
										<ul id="menu-main-menu" class="clearfix">
											<li id="nav-menu-item-1532"
												class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
												<a (click)="aboutUs()" class=""><i
														class="menu_icon blank fa"></i><span>เกี่ยวกับเรา
														<span class="underline_dash"></span></span><span
														class="plus"></span></a></li>
											<li id="nav-menu-item-1530"
												class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
												<a (click)="products()" class=""><i
														class="menu_icon blank fa"></i><span>ผลิตภัณฑ์<span
															class="underline_dash"></span></span><span
														class="plus"></span></a></li>
											<li id="nav-menu-item-1526"
												class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
												<a (click)="daicel_group()" class=""><i
														class="menu_icon blank fa"></i><span>ไดเซลกรุ๊ป<span class="underline_dash"></span></span><span
														class="plus"></span></a></li>
											<li id="nav-menu-item-1527"
												class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
												<a (click)="csr()" class=""><i
														class="menu_icon blank fa"></i><span>กิจกรรม CSR<span
															class="underline_dash"></span></span><span
														class="plus"></span></a></li>
											<li id="nav-menu-item-1529"
												class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
												<a (click)="news_events()" class=""><i
														class="menu_icon blank fa"></i><span>ข่าวสารและกิจกรรม<span
															class="underline_dash"></span></span><span
														class="plus"></span></a></li>
											<li id="nav-menu-item-1531"
												class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
												<a (click)="contact_us()" class=""><i
														class="menu_icon blank fa"></i><span>ติดต่อเรา
														<span class="underline_dash"></span></span><span
														class="plus"></span></a></li>
											<li id="nav-menu-item-wpml-ls-12-en"
												class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-has-children  has_sub narrow">
												<a title="English" (click)="aboutUs()" class=""><i
														class="menu_icon blank fa"></i><span><img class="wpml-ls-flag"
															src="../assets/templates/home/th.png" alt="en"
															title="ไทย"><span
															class="wpml-ls-native">ไทย</span><span
															class="underline_dash"></span></span><span
														class="plus"></span><span class="qode-featured-icon "
														aria-hidden="true"></span></a>
												<div class="second" style="height: 0px;">
													<div class="inner">
														<ul>
															<li id="nav-menu-item-wpml-ls-12-th"
																class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-th wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item ">
																<a title="ไทย" (click)="th()"
																	class=""><i
																		class="menu_icon blank fa"></i><span><img
																			class="wpml-ls-flag"
																			src="../assets/templates/home/en.png"
																			alt="th" title="English"><span
																			class="wpml-ls-native">English</span></span><span
																		class="plus"></span><span
																		class="qode-featured-icon "
																		aria-hidden="true"></span></a></li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</nav>
									<div class="header_inner_right">
										<div class="side_menu_button_wrapper right">
											<div class="header_bottom_right_widget_holder">
												<div class="widget_text header_bottom_widget widget_custom_html">
													<div class="textwidget custom-html-widget">
														<div class="vc_row wpb_row section vc_row-fluid "
															style=" text-align:left;">
															<div class=" full_section_inner clearfix">
																<div
																	class="wpb_column vc_column_container vc_col-sm-12">
																	<div class="vc_column-inner ">
																		<div class="wpb_wrapper">

																		    <a href=""
                                                                                target="_self"
                                                                                style="font-size: 14px;font-weight: 400"
                                                                                class="qode-btn qode-btn-medium qode-btn-solid qode-btn-icon qode-btn-icon-rotate">
                                                                                <span class="qode-btn-text">CAREERS
                                                                                </span><span
                                                                                    class="qode-button-v2-icon-holder"
                                                                                    style="font-size: 18px"><span
                                                                                        aria-hidden="true"
                                                                                        class="qode_icon_font_elegant arrow_carrot-right_alt2 qode-button-v2-icon-holder-inner"></span></span>
                                                                           
                                                                                    </a>

																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="side_menu_button">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<nav class="mobile_menu">
							<ul id="menu-main-menu-1" class="">
								<li id="mobile-menu-item-1532"
									class="menu-item menu-item-type-post_type menu-item-object-page "><a
									(click)="aboutUs()" class=""><span>เกี่ยวกับเรา
											</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i
											class="fa fa-angle-down"></i></span></li>
								<li id="mobile-menu-item-1530"
									class="menu-item menu-item-type-post_type menu-item-object-page "><a
									(click)="products()"
										class=""><span>ผลิตภัณฑ์</span></a><span class="mobile_arrow"><i
											class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
								<li id="mobile-menu-item-1526"
									class="menu-item menu-item-type-post_type menu-item-object-page "><a
									(click)="daicel_group()" class=""><span>ไดเซลกรุ๊ป
											</span></a><span class="mobile_arrow"><i
											class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
								<li id="mobile-menu-item-1527"
									class="menu-item menu-item-type-post_type menu-item-object-page "><a
									(click)="csr()" class=""><span>กิจกรรม CSR</span></a><span
										class="mobile_arrow"><i class="fa fa-angle-right"></i><i
											class="fa fa-angle-down"></i></span></li>
								<li id="mobile-menu-item-1529"
									class="menu-item menu-item-type-post_type menu-item-object-page "><a
									(click)="news_events()"
										class=""><span>ข่าวสารและกิจกรรม</span></a><span class="mobile_arrow"><i
											class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
								<li id="mobile-menu-item-1531"
									class="menu-item menu-item-type-post_type menu-item-object-page "><a
									(click)="contact_us()" class=""><span>ติดต่อเรา</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i
											class="fa fa-angle-down"></i></span></li>
								<li id="mobile-menu-item-wpml-ls-12-en"
									class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-has-children  has_sub">
									<a title="English" (click)="aboutUs()" class=""><span><img
												class="wpml-ls-flag" src="../assets/templates/home/th.png" alt="en"
												title="ไทย"><span
												class="wpml-ls-native">ไทย</span></span></a><span
										class="mobile_arrow"><i class="fa fa-angle-right"></i><i
											class="fa fa-angle-down"></i></span>
									<ul class="sub_menu">
										<li id="mobile-menu-item-wpml-ls-12-th"
											class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-th wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item ">
											<a title="ไทย"  (click)="th()" class=""><span><img
														class="wpml-ls-flag" src="../assets/templates/home/en.png"
														alt="th" title="English"><span
														class="wpml-ls-native">English</span></span></a><span
												class="mobile_arrow"><i class="fa fa-angle-right"></i><i
													class="fa fa-angle-down"></i></span></li>
									</ul>
								</li>
							</ul>
						</nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header> <a id="back_to_top" href="#" class="off">
    <span class="fa-stack">
        <i class="qode_icon_font_awesome fa fa-arrow-up "></i> </span>
</a>

<div class="content content_top_margin_none">
    <div class="content_inner  ">

        <div class="title_outer title_without_animation" data-height="250">
            <div class="title title_size_small  position_left  has_fixed_background "
                style="background-size:1920px auto;background-image:url(../../../../assets/templates/home/BG-E-1920x600-B60.jpg);height:250px;">
                <div class="image not_responsive"><img itemprop="image"
                        src="../../../../assets/templates/home/BG-E-1920x600-B60.jpg" alt="&nbsp;" /> </div>
                <div class="title_holder" style="padding-top:0;height:250px;">
                    <div class="container">
                        <div class="container_inner clearfix">
                            <div class="title_subtitle_holder">
                                <div class="title_subtitle_holder_inner">
                                    <h1><span>ติดต่อเรา</span></h1>

                                    <div class="breadcrumb" style="background-color: transparent;">
                                        <div class="breadcrumbs">
                                            <div itemprop="breadcrumb"><a (click)="home()">Home</a><span
                                                    class="delimiter">&nbsp;>&nbsp;</span>
                                                <span class="current">ติดต่อเรา</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full_width">
            <div class="full_width_inner">
                <div class="vc_row wpb_row section vc_row-fluid  vc_custom_1535930757612 grid_section"
                    style=' text-align:center;'>
                    <br><br><br>
                    <div class=" section_inner clearfix">
                        <div class='section_inner_margin clearfix'>
                            <div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                            <div class="wpb_wrapper">

                                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                                    <img width="500" height="146"
                                                        src="../../../../assets/templates/home/DSST-DSTT-Logo-500x146.png"
                                                        class="vc_single_image-img attachment-full" alt=""
                                                        srcset="../../../../assets/templates/home/DSST-DSTT-Logo-500x146.png 500w,
                                                        ../../../../assets/templates/home/DSST-DSTT-Logo-500x146-300x88.png 300w"
                                                        sizes="(max-width: 500px) 100vw, 500px" /></div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>


                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>บริษัท ไดเซล เซฟตี้ ซีสเต็มส์ (ประเทศไทย) จํากัด (DSST) และ บริษัท ไดเซล เซฟตี้ เทคโนโลยีส์ (ประเทศไทย) จํากัด (DSTT) ได้รับการจัดตั้งขึ้นโดยมีจุดมุ่งหมายในการเป็นผู้ผลิตชั้นนำและบริษัท จำหน่ายเครื่องเติมอากาศสำหรับระบบถุงลมนิรภัย เครื่องกำเนิดไฟฟ้า แก๊สตัวเติมอากาศ (PGG) สำหรับเข็มขัดนิรภัยและชิ้นส่วนที่เกี่ยวข้อง Initiators and Coolants) สำหรับระบบความปลอดภัยของรถยนต์</p>
                                    
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="vc_row wpb_row section vc_row-fluid  vc_custom_1535930426802 grid_section"
                    style=' text-align:center;'>
                    <br><br><br>
                    <div class=" section_inner clearfix">
                        <div class='section_inner_margin clearfix'>
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper"><span data-type="normal" data-hover-icon-color="#2e82ea"
                                            class="qode_icon_shortcode  q_font_awsome_icon fa-4x  " style=" "><span
                                                aria-hidden="true"
                                                class="qode_icon_font_elegant icon_pin qode_icon_element"
                                                style="font-size: 72px;color: #0071be;"></span></span>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>


                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h4>ที่อยู่</h4>

                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 14px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>


                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>241 หมู่ 4 เขตอุตสาหกรรม 304 ตำบลท่าตูม<br />
                                                    อำเภอศรีมหาโพธิ จังหวัดปราจีนบุรี 25140 ประเทศไทย

                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper"><span data-type="normal" data-hover-icon-color="#2e82ea"
                                            class="qode_icon_shortcode  q_font_awsome_icon fa-4x  " style=" "><span
                                                aria-hidden="true"
                                                class="qode_icon_font_elegant icon_phone qode_icon_element"
                                                style="font-size: 72px;color: #0071be;"></span></span>
                                        <div class="vc_empty_space" style="height: 20px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>


                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h4>ติดต่อ</h4>

                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 14px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>


                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h5>โทรศัพท์: <span style="color: #0071be;">+66 37 270
                                                        900</span><br />
                                                        แฟกซ์: <span style="color: #0071be;">+66 37 274 225</span>
                                                </h5>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="vc_row wpb_row section vc_row-fluid  vc_custom_1478078331304 grid_section"
                    style=' text-align:left;'>
                    <br><br><br>
                    <div class=" section_inner clearfix">
                        <div class='section_inner_margin clearfix'>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h4>ส่งข้อความหาเรา</h4>

                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 27px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>

                                        <div role="form" class="wpcf7" id="wpcf7-f161-p151-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form action="" method="post" class="wpcf7-form cf7_custom_style_2"
                                                novalidate="novalidate">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="161" />
                                                    <input type="hidden" name="_wpcf7_version" value="5.1.1" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag"
                                                        value="wpcf7-f161-p151-o1" />
                                                    <input type="hidden" name="_wpcf7_container_post" value="151" />
                                                    <input type="hidden" name="g-recaptcha-response" value="" />
                                                </div>
                                                <p><span class="wpcf7-form-control-wrap full-name"><input type="text"
                                                            name="full-name" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="ชื่อ นามสกุล ของคุณ" /></span></p>
                                                <p><span class="wpcf7-form-control-wrap email"><input type="email"
                                                            name="email" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="อีเมลล์ของคุณ" /></span></p>
                                                <p><span id="wpcf7-5e6af303ef45f"
                                                        class="wpcf7-form-control-wrap subject-wrap"
                                                        style="display:none !important; visibility:hidden !important;"><label
                                                            class="hp-message">Please leave this field
                                                            empty.</label><input class="wpcf7-form-control wpcf7-text"
                                                            type="text" name="subject" value="" size="40" tabindex="-1"
                                                            autocomplete="nope" /></span></p>
                                                <p><span class="wpcf7-form-control-wrap message"><textarea
                                                            name="message" cols="40" rows="10"
                                                            class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="ข้อความของคุณ"></textarea></span>
                                                </p>
                                                <p><input type="submit" value="ส่งข้อความ"
                                                        class="wpcf7-form-control wpcf7-submit" /></p>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                        <div class="vc_empty_space" style="height: 60px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>

                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h4>เยี่ยมชมโรงงาน</h4>

                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 27px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>


                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                            <div class="wpb_wrapper">

                                                <a class="qode-prettyphoto qode-single-image-pretty-photo"
                                                    data-rel="prettyPhoto[rel-151-1478227181]"
                                                    href="../../../../assets/templates/home/Daicel-Graphical-Map.jpg"
                                                    target="_self">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="960" height="666"
                                                            src="../../../../assets/templates/home/Daicel-Graphical-Map.jpg"
                                                            class="vc_single_image-img attachment-full" alt=""
                                                            srcset="../../../../assets/templates/home/Daicel-Graphical-Map.jpg 960w,
                                                    ../../../../assets/templates/home/Daicel-Graphical-Map-300x208.jpg 300w, 
                                                    ../../../../assets/templates/home/Daicel-Graphical-Map-768x533.jpg 768w,
                                                    ../../../../assets/templates/home/Daicel-Graphical-Map-700x486.jpg 700w" sizes="(max-width: 960px) 100vw, 960px" />
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 60px"><span
                                                class="vc_empty_space_inner">
                                                <span class="empty_space_image"></span>
                                            </span></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="vc_row wpb_row section vc_row-fluid " style=" text-align:left">
                    <br><br><br>
                    <div class=" full_section_inner clearfix">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <!--Google map-->
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15489.47792720639!2d101.58893466382193!3d13.936592306640046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311cf6c90ccece47%3A0xfc4244989fbbc79a!2sDaicel%20Safety%20Systems%20(Thailand)%20Co.%2C%20Ltd.!5e0!3m2!1sen!2sth!4v1586963983350!5m2!1sen!2sth"
                                        width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen=""
                                        aria-hidden="false" tabindex="0"></iframe>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <app-slide-footer></app-slide-footer>

            </div>
        </div>
    </div>
</div>
<app-footer-th></app-footer-th>

