@media only screen and (max-width: 1000px){
						.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner {
			padding-top:80px !important; /*important because of the inline style on page*/
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
	
	
	
	
	
}
@media only screen and (max-width: 600px) {
	
			h2, h2 a {
			font-size: 24px; 			line-height: 31px; 		    		}
	
			h3, h3 a {
			font-size: 20px; 			line-height: 32px; 		    		}
	
			h4, h4 a {
			font-size: 18px; 			line-height: 28px; 		    		}
	
			h5, h5 a {
			font-size: 18px; 			line-height: 28px; 		    		}
	
			h6, h6 a {
			font-size: 14px; 			line-height: 25px; 		    		}
	
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
				.footer_bottom {
			line-height: 23px;
		}
	
	}