<footer>
    <div class="footer_inner clearfix">
        <div class="footer_top_holder">
            <div class="footer_top">
                <div class="container">
                    <div class="container_inner">
                        <div class="three_columns clearfix">
                            <div class="column1 footer_col1">
                                <div class="column_inner">
                                    <div id="text-11" class="widget widget_text">
                                        <div class="textwidget">
                                            <p><img src="../../../../assets/templates/home/Daicel-White-300x87.png"
                                                    alt="logo" /></p>
                                            <div class="vc_empty_space" style="height: 21px"><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"></span>
                                                </span></div>


                                            <p>Daicel Safety Systems (THAILAND) CO., LTD. (DSST) and Daicel
                                                Safety Technologies (THAILAND) CO., LTD. (DSTT) have been
                                                established with the aim of becoming a leading manufacturer
                                                and sales company of inflators for airbag systems,
                                                Pretensioner Gas Generators (PGG) for seat belts and related
                                                components (Initiators and Coolants) for automotive safety
                                                systems.</p>
                                            <div class="vc_empty_space" style="height: 30px"><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"></span>
                                                </span></div>


                                        </div>
                                    </div><span class='q_social_icon_holder square_social'
                                        data-color=#ffffff data-hover-background-color=#0071be
                                        data-hover-color=#ffffff><a itemprop='url'
                                            href='https://www.facebook.com/' target='_blank'><span
                                                class='fa-stack '
                                                style='background-color: #42464b;border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-width: 0px;margin: 0 3px 0 0;font-size: 20px;'><span
                                                    aria-hidden="true"
                                                    class="qode_icon_font_elegant social_facebook "
                                                    style="color: #ffffff;font-size: 18px;"></span></span></a></span><span
                                        class='q_social_icon_holder square_social' data-color=#ffffff
                                        data-hover-background-color=#0071be data-hover-color=#ffffff><a
                                            itemprop='url' href='https://www.twitter.com/'
                                            target='_blank'><span class='fa-stack '
                                                style='background-color: #42464b;border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-width: 0px;margin: 0 3px 0 0;font-size: 20px;'><span
                                                    aria-hidden="true"
                                                    class="qode_icon_font_elegant social_twitter "
                                                    style="color: #ffffff;font-size: 18px;"></span></span></a></span><span
                                        class='q_social_icon_holder square_social' data-color=#ffffff
                                        data-hover-background-color=#0071be data-hover-color=#ffffff><a
                                            itemprop='url' href='https://plus.google.com/'
                                            target='_blank'><span class='fa-stack '
                                                style='background-color: #42464b;border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-width: 0px;margin: 0 3px 0 0;font-size: 20px;'><span
                                                    aria-hidden="true"
                                                    class="qode_icon_font_elegant social_googleplus "
                                                    style="color: #ffffff;font-size: 18px;"></span></span></a></span><span
                                        class='q_social_icon_holder square_social' data-color=#ffffff
                                        data-hover-background-color=#0071be data-hover-color=#ffffff><a
                                            itemprop='url' href='https://www.instagram.com/'
                                            target='_blank'><span class='fa-stack '
                                                style='background-color: #42464b;border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-width: 0px;margin: 0 3px 0 0;font-size: 20px;'><span
                                                    aria-hidden="true"
                                                    class="qode_icon_font_elegant social_instagram "
                                                    style="color: #ffffff;font-size: 18px;"></span></span></a></span><span
                                        class='q_social_icon_holder square_social' data-color=#ffffff
                                        data-hover-background-color=#0071be data-hover-color=#ffffff><a
                                            itemprop='url' href='https://www.linkedin.com/'
                                            target='_blank'><span class='fa-stack '
                                                style='background-color: #42464b;border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-width: 0px;margin: 0 0 0 0;font-size: 20px;'><span
                                                    aria-hidden="true"
                                                    class="qode_icon_font_elegant social_linkedin "
                                                    style="color: #ffffff;font-size: 18px;"></span></span></a></span>
                                </div>
                            </div>
                            <div class="column2 footer_col2">
                                <div class="column_inner">
                                    <div id="text-4" class="widget widget_text">
                                        <h5>Daicel Safety Systems Companies</h5>
                                        <div class="textwidget"></div>
                                    </div>
                                    <div id="nav_menu-2" class="widget widget_nav_menu">
                                        <div class="menu-footer-menu-container">
                                            <ul id="menu-footer-menu" class="menu">
                                                <li id="menu-item-1534"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1534">
                                                    <a target="_blank"
                                                        href="https://www.daicel.com/msd/en/">Japan (HQ of
                                                        Safety Systems Business/DSS)</a></li>
                                                <li id="menu-item-1535"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1535">
                                                    <a target="_blank" href="http://daicelssa.com/">USA
                                                        (DSSA/DSTA/DSTP)</a></li>
                                                <li id="menu-item-1536"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1536">
                                                    <a target="_blank"
                                                        href="http://www.daicelssa-az.com/">USA (DSSA
                                                        AZ/DSSAH)</a></li>
                                                <li id="menu-item-1537"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1537">
                                                    <a target="_blank" href="index.html">Thailand
                                                        (DSST/DSTT/SDT)</a></li>
                                                <li id="menu-item-1538"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1538">
                                                    <a target="_blank"
                                                        href="http://www.specialdevices.com/">USA (SDI)</a>
                                                </li>
                                                <li id="menu-item-1539"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1539">
                                                    <a target="_blank"
                                                        href="http://www.daicelsse.com/homepage">Europe
                                                        (DSSE)</a></li>
                                                <li id="menu-item-1540"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1540">
                                                    <a target="_blank" href="#">China (DSSC/DSTC)</a></li>
                                                <li id="menu-item-1541"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1541">
                                                    <a target="_blank" href="#">Korea (DSSK)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column3 footer_col3">
                                <div class="column_inner">
                                    <div id="text-6" class="widget widget_text">
                                        <h5>Contact Us</h5>
                                        <div class="textwidget">
                                            <div class="vc_empty_space" style="height: 15px"><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"></span>
                                                </span></div>


                                            <div role="form" class="wpcf7" id="wpcf7-f104-o1" lang="en-US"
                                                dir="ltr">
                                                <div class="screen-reader-response"></div>
                                                <form action="https://www.daicelsst-stt.com/#wpcf7-f104-o1"
                                                    method="post" class="wpcf7-form cf7_custom_style_1"
                                                    novalidate="novalidate">
                                                    <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="104" />
                                                        <input type="hidden" name="_wpcf7_version"
                                                            value="5.1.1" />
                                                        <input type="hidden" name="_wpcf7_locale"
                                                            value="en_US" />
                                                        <input type="hidden" name="_wpcf7_unit_tag"
                                                            value="wpcf7-f104-o1" />
                                                        <input type="hidden" name="_wpcf7_container_post"
                                                            value="0" />
                                                        <input type="hidden" name="g-recaptcha-response"
                                                            value="" />
                                                    </div>
                                                    <p><span class="wpcf7-form-control-wrap full-name"><input
                                                                type="text" name="full-name" value=""
                                                                size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Your Full Name" /></span></p>
                                                    <p><span class="wpcf7-form-control-wrap email"><input
                                                                type="email" name="email" value="" size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Your E-mail Address" /></span>
                                                    </p>
                                                    <p><span id="wpcf7-5e6af2e83a60a"
                                                            class="wpcf7-form-control-wrap subject-wrap"
                                                            style="display:none !important; visibility:hidden !important;"><label
                                                                class="hp-message">Please leave this field
                                                                empty.</label><input
                                                                class="wpcf7-form-control wpcf7-text"
                                                                type="text" name="subject" value=""
                                                                size="40" tabindex="-1"
                                                                autocomplete="nope" /></span></p>
                                                    <p><span class="wpcf7-form-control-wrap message"><textarea
                                                                name="message" cols="40" rows="10"
                                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Your Message Here"></textarea></span>
                                                    </p>
                                                    <p><input type="submit" value="Send"
                                                            class="wpcf7-form-control wpcf7-submit" /></p>
                                                    <div class="wpcf7-response-output wpcf7-display-none">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom_holder">
            <div class="container">
                <div class="container_inner">
                    <div class="two_columns_50_50 footer_bottom_columns clearfix">
                        <div class="column1 footer_bottom_column">
                            <div class="column_inner">
                                <div class="footer_bottom">
                                    <div class="textwidget">
                                        <p>© 2018-2019 Daicel Safety Systems Thailand Co., Ltd. All Rights
                                            Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column2 footer_bottom_column">
                            <div class="column_inner">
                                <div class="footer_bottom">
                                    <div class="menu-bottom-footer-menu-container">
                                        <ul id="menu-bottom-footer-menu" class="menu">
                                            <li id="menu-item-1542"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1542">
                                                <a (click)="privacy()">Privacy Policy</a></li>
                                            <li id="menu-item-1543"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1543">
                                                <a (click)="term()">Terms of Use</a></li>
                                            <li id="menu-item-1544"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1544">
                                                <a href="careers-2/index.html">Careers</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>