<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<div class="vc_row wpb_row section vc_row-fluid  vc_custom_1510597065718 grid_section" style=" text-align:left;">
    <div class=" section_inner clearfix">
        <div class="section_inner_margin clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">


                        <div class="swiper-container1">
                            <div class="swiper-wrapper" style="  padding-left: 100px;">
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/HONDA-D-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/LEXUS-G-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/MAZDA-H-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/MITSUBISHI-I-323x165.png" alt="">
                                    </div>
                                    <div class=" swiper-slide">
                                        <img src="../../../../assets/templates/home/NISSAN-J-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/SUBARU-L-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/SUZUKI-M-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/Audi-A-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/BUICK-B-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/CHECROLET-C-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/CITROEN-D-323x165.png" alt="">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/DAEWOO-A-323x165.png" alt="">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/HYUNDAI-B-323x165.png" alt="">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/KIA-MOTORS-C-323x165.png" alt="">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/SSANG-YOUG-D-323x165.png" alt="">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/FORD-E-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/GM-F-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/LOTUS-G-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/PEUGEOT-H-232x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/SKODA-I-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/TEALA-J-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/VOLKSWAGEN-K-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/BAIC-GROUP-A-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/CHANGAN-B-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/CHERY-C-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/DFM-D-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/FAM-E-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/FOTON-F-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/GEELY-G-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/GREAT-WALL-H-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/HAIMA-I-232x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/JAC-J-232x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/JINBEI-K-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/LIFAN-L-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/LUXGEN-M-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/ROEWE-N-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/SAIC-O-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/ZOTYE-P-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/ACURA-A-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/DAIHATSU-B-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/TOYOTA-N-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/ISUZU-F-323x165.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/FUSO-C-323x165.png" alt="">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="../../../../assets/templates/home/INFINITI-E-323x165.png" alt="">
                                    </div>




                                </div>
                       
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>