<title>Daicel Thailand | Terms Of Use</title>
<header class="has_header_fixed_right scroll_header_top_area  stick menu_bottom scrolled_not_transparent page_header">
    <div class="header_inner clearfix">
        <div class="header_top_bottom_holder">
            <div class="header_bottom clearfix" style=" background-color:rgba(255, 255, 255, 1);">
                <div class="container">
                    <div class="container_inner clearfix">
                        <div class="header_inner_left">
                            <div class="mobile_menu_button">
                                <span>
                                    <i class="fa fa-bars"></i> </span>
                            </div>
                            <div class="logo_wrapper">
                                <div class="q_logo">
                                    <a itemprop="url" (click)="home()" style="height: 70px; visibility: visible;">
                                        <img itemprop="image" class="normal"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="light"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="dark"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="sticky"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> <img itemprop="image" class="mobile"
                                            src="../assets/templates/home/DSST-DSTT-Logo-300x70.png" alt="Logo"
                                            style="height: 100%;"> </a>
                                </div>
                            </div>
                            <div class="header_fixed_right_area">
                                <div class="textwidget custom-html-widget">
                                    <div class="vc_empty_space" style="height: 23px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                        </span></div>



                                    <span style="display: inline-block;">
                                        <div class="q_icon_with_title medium custom_icon_image ">
                                            <div class="icon_holder " style=" ">
                                                <img itemprop="image" style=""
                                                    src="../assets/templates/home/header-icon-1.png" alt="">
                                            </div>
                                            <div class="icon_text_holder" style="">
                                                <div class="icon_text_inner" style="">
                                                    <h6 class="icon_title" style="color: #424242;">+66
                                                        37270900</h6>
                                                    <p style="color: #949494">info@daicelsst-stt.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </span>

                                    <span style="display: inline-block; margin-right: 18px;">
                                        <div class="q_icon_with_title medium custom_icon_image ">
                                            <div class="icon_holder " style=" "><img itemprop="image" style=""
                                                    src="../assets/templates/home/header-icon-2.png" alt=""></div>
                                            <div class="icon_text_holder" style="">
                                                <div class="icon_text_inner" style="">
                                                    <h6 class="icon_title" style="color: #424242;">241 Moo
                                                        4, 304 Ind Park</h6>
                                                    <p style="color: #949494">Prachinburi 25140 Thailand</p>
                                                </div>
                                            </div>
                                        </div>
                                    </span>

                                    <span style="display: inline-block;">
                                        <div class="q_icon_with_title medium custom_icon_image ">
                                            <div class="icon_holder " style=" "><img itemprop="image" style=""
                                                    src="../assets/templates/home/header-icon-3.png" alt=""></div>
                                            <div class="icon_text_holder" style="">
                                                <div class="icon_text_inner" style="">
                                                    <h6 class="icon_title" style="color: #424242;">Monday -
                                                        Friday 08h - 17h</h6>
                                                    <p style="color: #949494">Closed on Weekends</p>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="header_menu_bottom">
                            <div class="header_menu_bottom_inner">
                                <div class="main_menu_header_inner_right_holder">
                                    <nav class="main_menu drop_down">
                                        <ul id="menu-main-menu" class="clearfix">
                                            <li id="nav-menu-item-1532"
                                                class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                                <a (click)="aboutUs()" class=""><i
                                                        class="menu_icon blank fa"></i><span>About
                                                        Us<span class="underline_dash"></span></span><span
                                                        class="plus"></span></a></li>
                                            <li id="nav-menu-item-1530"
                                                class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                                <a (click)="products()" class=""><i
                                                        class="menu_icon blank fa"></i><span>Products<span
                                                            class="underline_dash"></span></span><span
                                                        class="plus"></span></a></li>
                                            <li id="nav-menu-item-1526"
                                                class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                                <a (click)="daicel_group()" class=""><i
                                                        class="menu_icon blank fa"></i><span>Daicel
                                                        Group<span class="underline_dash"></span></span><span
                                                        class="plus"></span></a></li>
                                            <li id="nav-menu-item-1527"
                                                class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                                <a (click)="csr_page()" class=""><i
                                                        class="menu_icon blank fa"></i><span>CSR<span
                                                            class="underline_dash"></span></span><span
                                                        class="plus"></span></a></li>
                                            <li id="nav-menu-item-1529"
                                                class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                                <a (click)="news_events()" class=""><i
                                                        class="menu_icon blank fa"></i><span>News<span
                                                            class="underline_dash"></span></span><span
                                                        class="plus"></span></a></li>
                                            <li id="nav-menu-item-1531"
                                                class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                                                <a (click)="contact_us()" class=""><i
                                                        class="menu_icon blank fa"></i><span>Contact
                                                        Us<span class="underline_dash"></span></span><span
                                                        class="plus"></span></a></li>
                                            <li id="nav-menu-item-wpml-ls-12-en"
                                                class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-has-children  has_sub narrow">
                                                <a title="English" (click)="aboutUs()" class=""><i
                                                        class="menu_icon blank fa"></i><span><img class="wpml-ls-flag"
                                                            src="../assets/templates/home/en.png" alt="en"
                                                            title="English"><span
                                                            class="wpml-ls-native">English</span><span
                                                            class="underline_dash"></span></span><span
                                                        class="plus"></span><span class="qode-featured-icon "
                                                        aria-hidden="true"></span></a>
                                                <div class="second" style="height: 0px;">
                                                    <div class="inner">
                                                        <ul>
                                                            <li id="nav-menu-item-wpml-ls-12-th"
                                                                class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-th wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item ">
                                                                <a title="ไทย" (click)="th()" class=""><i
                                                                        class="menu_icon blank fa"></i><span><img
                                                                            class="wpml-ls-flag"
                                                                            src="../assets/templates/home/th.png"
                                                                            alt="th" title="ไทย"><span
                                                                            class="wpml-ls-native">ไทย</span></span><span
                                                                        class="plus"></span><span
                                                                        class="qode-featured-icon "
                                                                        aria-hidden="true"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="header_inner_right">
                                        <div class="side_menu_button_wrapper right">
                                            <div class="header_bottom_right_widget_holder">
                                                <div class="widget_text header_bottom_widget widget_custom_html">
                                                    <div class="textwidget custom-html-widget">
                                                        <div class="vc_row wpb_row section vc_row-fluid "
                                                            style=" text-align:left;">
                                                            <div class=" full_section_inner clearfix">
                                                                <div
                                                                    class="wpb_column vc_column_container vc_col-sm-12">
                                                                    <div class="vc_column-inner ">
                                                                        <div class="wpb_wrapper">

                                                                            <a href="" target="_self"
                                                                                style="font-size: 14px;font-weight: 400"
                                                                                class="qode-btn qode-btn-medium qode-btn-solid qode-btn-icon qode-btn-icon-rotate">
                                                                                <span class="qode-btn-text">CAREERS
                                                                                </span><span
                                                                                    class="qode-button-v2-icon-holder"
                                                                                    style="font-size: 18px"><span
                                                                                        aria-hidden="true"
                                                                                        class="qode_icon_font_elegant arrow_carrot-right_alt2 qode-button-v2-icon-holder-inner"></span></span>

                                                                            </a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="side_menu_button">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="mobile_menu">
                            <ul id="menu-main-menu-1" class="">
                                <li id="mobile-menu-item-1532"
                                    class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                        (click)="aboutUs()" class=""><span>About
                                            Us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                                            class="fa fa-angle-down"></i></span></li>
                                <li id="mobile-menu-item-1530"
                                    class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                        (click)="products()" class=""><span>Products</span></a><span
                                        class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                                            class="fa fa-angle-down"></i></span></li>
                                <li id="mobile-menu-item-1526"
                                    class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                        (click)="daicel_group()" class=""><span>Daicel
                                            Group</span></a><span class="mobile_arrow"><i
                                            class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                                <li id="mobile-menu-item-1527"
                                    class="menu-item menu-item-type-post_type menu-item-object-page "><a (click)="csr_page()"
                                        class=""><span>CSR</span></a><span class="mobile_arrow"><i
                                            class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                                <li id="mobile-menu-item-1529"
                                    class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                        (click)="news_events()" class=""><span>News</span></a><span
                                        class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                                            class="fa fa-angle-down"></i></span></li>
                                <li id="mobile-menu-item-1531"
                                    class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                        (click)="contact_us()" class=""><span>Contact
                                            Us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                                            class="fa fa-angle-down"></i></span></li>
                                <li id="mobile-menu-item-wpml-ls-12-en"
                                    class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-has-children  has_sub">
                                    <a title="English" (click)="aboutUs()" class=""><span><img class="wpml-ls-flag"
                                                src="../assets/templates/home/en.png" alt="en" title="English"><span
                                                class="wpml-ls-native">English</span></span></a><span
                                        class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                                            class="fa fa-angle-down"></i></span>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-wpml-ls-12-th"
                                            class="menu-item wpml-ls-slot-12 wpml-ls-item wpml-ls-item-th wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item ">
                                            <a title="ไทย" (click)="th()" class=""><span><img class="wpml-ls-flag"
                                                        src="../assets/templates/home/th.png" alt="th" title="ไทย"><span
                                                        class="wpml-ls-native">ไทย</span></span></a><span
                                                class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                                                    class="fa fa-angle-down"></i></span></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header> <a id="back_to_top" href="#" class="off">
    <span class="fa-stack">
        <i class="qode_icon_font_awesome fa fa-arrow-up "></i> </span>
</a>
<div class="content content_top_margin_none">
    <div class="content_inner  ">
        <div class="title_outer title_without_animation" data-height="250" >
            <div class="title title_size_small  position_left  has_fixed_background "
                style="background-size: 1920px; background-image: url(../../../../assets/templates/home/BG-E-1920x600-B60.jpg); height: 250px; background-position: center -52.5px;">
                <div class="image not_responsive"><img itemprop="image"
                        src="../../../../assets/templates/home/BG-E-1920x600-B60.jpg" alt=" "> </div>
                <div class="title_holder" style="padding-top:0;height:250px;">
                    <div class="container">
                        <div class="container_inner clearfix">
                            <div class="title_subtitle_holder">
                                <div class="title_subtitle_holder_inner">
                                    <h1><span>Terms of Use</span></h1>

                                    <div class="breadcrumb"  style="background-color: transparent;">
                                        <div class="breadcrumbs">
                                            <div itemprop="breadcrumb" class="breadcrumbs_inner"><a
                                                    routerLink="/home">Home</a><span
                                                    class="delimiter">&nbsp;&gt;&nbsp;</span><span class="current">Terms
                                                    of Use</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container_inner default_template_holder clearfix page_container_inner">
                <div class="vc_row wpb_row section vc_row-fluid " style=" padding-bottom:128px; text-align:left;">
                    <div class=" full_section_inner clearfix">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <div class="in_text06">This Website (www.daicel.com) is
                                                controlled and operated by Daicel Corporation (hereafter
                                                “Daicel”).<br>
                                                Please carefully read the following terms of use (hereafter
                                                “Terms”) when accessing this Website. You can use this
                                                Website only if you accept the Terms without limitation or
                                                reservation. If you use this Website, you shall be deemed to
                                                have accepted all the Terms.</div>
                                            <h2>Prohibition</h2>
                                            <div class="privacy_text">When using this Website, the following
                                                actions are prohibited:</div>
                                            <div class="disclosure_text clearfix">
                                                <dl class="clearfix">
                                                    <dt>1.</dt>
                                                    <dd>Actions to create damage or disadvantage to Daicel
                                                        or any third party, or actions to injure the
                                                        credibility or honor of Daicel or any third party.
                                                    </dd>
                                                </dl>
                                                <dl class="clearfix">
                                                    <dt>2.</dt>
                                                    <dd>Actions to violate laws, regulations or the like, or
                                                        actions which have a likelihood thereof; and</dd>
                                                </dl>
                                                <dl class="clearfix">
                                                    <dt>3.</dt>
                                                    <dd>Other than the aforementioned matters, actions that
                                                        Daicel deems inappropriate.</dd>
                                                </dl>
                                            </div>
                                            <h2>Copyrights and Trademarks</h2>
                                            <div class="in_text">The copyrights relating to the Contents of
                                                this Website belong to Daicel and other copyright owners.
                                                Actions to use, reproduce, modify or any of this Website
                                                data are prohibited without authority of Daicel.<br>
                                                The trademark, logo and corporate mark used at this Website
                                                revert to Daicel or its affiliated company. You cannot use
                                                either of them without prior authorization from Daicel.
                                            </div>
                                            <h2>Links</h2>
                                            <div class="disclosure_text clearfix">
                                                <dl class="clearfix">
                                                    <dt>1.</dt>
                                                    <dd>This Website has links to or from third party’s web
                                                        sites. Contents of third party’s websites are
                                                        controlled and operated under the responsibility of
                                                        the relevant third party. Therefore, Daicel shall
                                                        not be responsible for any damages or troubles
                                                        arising out of, or resulting from any use of or
                                                        access to such third party’s websites.</dd>
                                                </dl>
                                                <dl class="clearfix">
                                                    <dt>2.</dt>
                                                    <dd>If you wish to have a link to this Website, please
                                                        obtain prior approval from Daicel.</dd>
                                                </dl>
                                            </div>
                                            <h2>Privacy Policy</h2>
                                            <div class="privacy_text">Daicel will treat the personal
                                                information received through this Website in compliance with
                                                the “<a href="https://www.daicel.com/en/personalinformation/">Personal
                                                    Information Protection Policy</a>” and “<a
                                                    href="https://www.daicel.com/en/privacy/">Website
                                                    Privacy Policy</a>“.</div>
                                            <h2>Escape Clause</h2>
                                            <div class="in_text">Daicel has paid special attention to ensure
                                                that the information included on this Website will be
                                                updated and accurate. However, Daicel does not guarantee or
                                                accept any responsibility for the appropriateness and
                                                accuracy of the content of this Website.<br>
                                                Additionally, please approve of the fact that the content or
                                                URL of this Website may be changed, or suspended, or the
                                                operation thereof ceased, without prior notice. Regardless
                                                of reason, Daicel does not assume responsibility for any
                                                damages arising from changes to the content of this Website
                                                or from suspension or cessation of the operation.</div>
                                            <h2>Proper Law &amp; Competent Court</h2>
                                            <div class="privacy_text">The clauses as to the utilization of
                                                our site and requirements for this utilization shall comply
                                                with the Japan Law.<br>
                                                Also, all disputes associated with the utilization of our
                                                site shall be settled in Osaka District Court as the
                                                exclusive competent court of the first instance.</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>